#Histos moved from UAF
histos/

#Output of commands
outputs/
SMSScans/DataCards/

#Configs
*.conf_tmp
*.conf.bak
*.conf.conf

#compiled stuff
*.so
*.d
*.pcm
*.pyc
*.pyo

#mac crap
.DS_Store

#UAF stuff
*.nfs*

#debugging stuff
*.debug
*.log

#ROOT
CMSSW_*/

#Code Output
efficiency_table*

#Local Scratch Directory
scratch/
